body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen, #thankyou {
    text-align: center;
}

h1 {
    font-size: 64px;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 24px;
}

.small {
    font-size: 18px;
}

.hidden {
    display: none;
}

form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

input, textarea {
    margin-top: 4px;
    padding: 6px;
    font-size: 14px;
}
